# deps
node_modules/
.pnpm-store/

# build
dist/
.next/
out/
.turbo/
*.tsbuildinfo

# test
coverage/

# env / secrets — NUNCA commitar
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editores / SO
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

.vercel
